body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 16.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  header svg{
      margin-bottom: 0.28rem;
      margin-right: 0.2rem;
      
  }
  header a{
      padding: 1rem;
      color: silver;
      text-decoration: none;
  }
  header a:hover{
      color: pink;
  }
nav{
    padding: 0 !important;
    border-bottom: solid 2px silver;
    box-shadow: rgba(0, 0, 0, 0.7);
}

nav h2{
    color: rgb(109, 101, 101);
}
nav h5:hover{
    color: pink !important;
}
.nav-item{
    font-size: 2px  !important;

}
.navbar-brand
{
    

    margin: 0;
    padding: 0;
}

.navbar-brand img
{
    margin-top: 10px;
    max-height: 100%;
}

.section1{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('images/peircing\ artist.jpg'), center fixed no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    min-height: 90vh;
    color: white;
    position: relative;
}
#about{
    visibility: hidden;
}
#gallery{
    visibility: hidden;
}
.gallery-wrapper{
    margin-left: 6.5%;
    margin-right: 6.5%;
}
.gallery-card{
    visibility: hidden;
}
.card{
    transition: 0.5s ease-in-out;
    cursor: pointer;
    margin: 0.5rem;
}
.card:hover{
    transform: scale(1.1);
}
#served{
    min-width: 100%;
    padding: 4rem 0;
}
#served .counter-wrapper{
    margin: 1rem 0;
}
.counter{
    color: pink;
    transition: 0.5s ease-in-out;
    cursor: pointer;

}
.counter:hover{
    transform: scale(1.6);
}
#appointment{
    min-height: 60vh;
}
form{
    max-width: 80%;
    margin: 0 !important;
    margin-left: 5rem !;
}

.footer-info{
    
    border-bottom: 1px solid white;
    color: white;
}
footer{
    
   
    min-height: 15vh;
}
.footer-info{
    padding-left: 1rem;
}
footer svg{
    padding-bottom: 3px;
}

@media only screen and (max-width: 768px) {
 
    
    .intro-text h1{
        margin-top: 3rem;
        margin-bottom: 3rem;

    }
    #cont{
        margin-left: 2rem;
    }
    .section1{
        background: url('images/Piercing4.jpg'), center fixed no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        
    }    
    header{
        display: none;
    }
    
    header svg{
        margin-bottom: 0.19rem;
        margin-right: 0.1rem;
        width: 1.5rem;
    }
    header a{
        padding-left: 0.2rem;
       padding-right: 0.2rem;
        
    }
  }
  .slide-in-left{
    animation: slide-in-left 1.5s ease-in-out;
    visibility: visible !important;
}
.slide-in-down{
    animation:  slide-in-down 1.75s ease-in-out;
    visibility: visible !important;
}
.fade-in{
    animation:  fade-in 1.75s ease-in-out;
    visibility: visible !important;
}
  @keyframes slide-in-left{

    0%{
        transform: translatex(-500px);
        opacity: 0.2;

    }
    1%{
        transform: translatex(500px);
        opacity: 0.2;

    }

    100%{
        transform: translatex(0px);
        opacity: 0.9;

    }
}
@keyframes slide-in-down{
    0%{
        transform: translateY(500px);
        opacity: 0.3;
    }

    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fade-in{
    0%{
        opacity: 0.3;
    }

    100%{
        opacity: 1;
    }
}